.div-form {
    margin-left: 20px;
}

.h1-in-form {
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 10px 10px 5 px 10px;
    
  
}

.input-g {
    margin: 0px 0px;
    background-color: #bfd6cd;
    padding: 5px 50px 5px 5px;
    border-color: #38413dc0;
    color: rgb(14, 14, 14);
    border-radius: 3px;
    border-width: 1.5px;
    
}
.description-g {
    margin: 0px 0px;
    background-color: #bfd6cd;
    padding: 5px 5px 5px 5px;
    margin: 3px 0px 8px 0px;
    border-color: #38413dc0;
    color: rgb(14, 14, 14);
    border-radius: 3px;
    border-width: 1.5px;
    word-wrap: break-word;
    min-height: 70px;
    min-width: 248px;
}
.button-g {
    background-color: rgba(14, 81, 72, 0.626);
    border-color: rgba(14, 81, 72, 0.626);
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 20px;
}
