.Top {
    background-color: rgb(14, 81, 72);
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    padding: 22px 40px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
}